body, html {
  margin: 0;
  height: 100%; 
  background-color: #251886;
  color: white;
}

#scrollable-post-list { 
  overflow-y: auto; 
  padding-right: 10px; 
  scroll-behavior: smooth; 
}

.mycontent{
  font-family: "Fraunces", serif;
  margin: auto;
}